tr{
    position: relative;
    height: 30px;
}

td{
    position: relative;
    text-align: center;
}

th {
    margin-top: 25px;
    padding-top: 30px;
    padding-bottom: 5px;
    font-weight: 700;
    text-align: left;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    min-width: 55px;
    position: relative;
    text-align: center;
}


.studentTable tbody tr td:first-child {
    background-color: #f2f2f2;
    text-align: center;
    font-weight: 700;

}
.tableTitle{
    color: #000;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 900;
    top: 0px;
    font-size: 18px;
    position: relative;
    padding: 0px;
}


thead {
    background-color: #99ccff;
}

.date {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    left: 0;
    font-size: 18px;
    position: absolute;
}


.deleteBtn{
font-weight: 700;
margin-top: 5px;
display: block;
width: 100%;
background: red;
color: white;
border: none;
cursor: pointer;
padding: 5px;
font-size: 12px;
position: absolute;
top: 0;
height: auto;
left: 0;
margin-top: 0;
padding: 5px;
font-weight: 900;
}

.studentTable{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0
}

.pageCounter{
    width: 100px;
    text-align: center;
}
.lesson-date-cell{
    transition: 0.5s;
    padding: 0px;
}
.lesson-date-cell div{

    padding-top: 30px;
    padding-bottom: 5px;

}

tbody tr:hover {
    background-color: #d3d0d0;
}


.lesson-date-cell div:hover{
background-color: rgb(106 180 203) !important;
}


.viewStatsBtn{
    height: 100%;
    position: absolute;
    font-weight: 700;
    margin-top: 5px;
    display: block;
    width: 100%;
    background: #99ccff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 12px;
    top: 0;
    height: auto;
    left: 0;
    margin-top: 0;
    padding: 5px;
    height: 100%;
    transition: 1s;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination>button{
    background: #99ccff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 12px;
    margin: 0 5px;
}   

