.dashboard-container{
    background-color: #0366878f;
    padding: 15px;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.box{
    padding: 20px; 
    background-color: #0366878f; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    color: white;
}

.subjectList{
    padding-left: 0px;
}

.groupItem{
    text-decoration: none !important;
    color: white !important;
    text-decoration: none !important;


    list-style-type: none;
    text-decoration: none;
}

.groupItem:hover{
    text-decoration: none !important;
    color: white !important;
    text-decoration: none !important;
    background-color: #99ccff !important;
    border-radius: 10px !important;
    padding: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.dashboard-container h1{
    color: white;
    font-size: 24px;
    margin-bottom: 20px; 
    text-align: center;
}